*{
    box-sizing: border-box;
}

body{
    background-color:rgb(250, 242, 227);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    width:100%;
    min-height: 110px;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}
header section {
    display: inline-block;
}
header section:first-child {
    max-height: fit-content;
    /* margin-left: 3rem;
    margin-top:20px; */
}
header section:last-child{
    height: 70px;
    width: 60%;
    /* align-items: center; */
    /* margin-top: 20px; */
}
header section nav{
    display: inline-block;
    width: 100%;
    height: 100%;
}
header section nav ul{
    /* background-color: violet; */
    display: flex;  
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
header section nav ul li{
    display: inline-block;
}
header section nav ul li a{
    color: #7d7d7d;
    text-decoration: none;
}
header section nav ul li a:hover{
    color: cyan;
    text-decoration: underline;
}
main {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    /* background-color: violet; */
}
main img{
    margin:15px;
}

main section:last-child { 
    margin:0 auto;
    width: 100%;
    /* background-color: violet; */
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
} 
main section:last-child article{
    margin:15px;
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content:space-between;
    align-items: baseline;
    min-height: 400px;
    
} 
main section:last-child img{
    margin:15px;
    max-width: 50%;
}
main section:last-child article h2{
    font-weight:900;
    font-size: 2rem;
}
main section:last-child article p{
    text-align: start;
    font-size: 1.2rem;
    overflow: auto ;
    max-height: 270px;
}
    main section:last-child article button{
    background-color: #000;
    color: #c8c8c8;
    border-radius: 15px;
    height: 3rem;
    font-size: 1.3rem;
    width: 12rem;
}

main section:last-child article button:hover {
    background-color: gray;
    transition:350ms;
    box-shadow:0.2rem 0.2rem 0.5rem gold,    -0.2rem -0.2rem 0.5rem gold;
    
}
footer{
    width: 100%;
    height: fit-content;
    margin-top: 3rem;
    background-color: #444444;
}
footer section {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: cornflowerblue; */
    height: 12rem
}
footer section p{
    width: 50%;
    text-align: center;
    color: darkgray;
    font-size: 1.5rem;
    /* background-color: chartreuse; */
    display: inline-block;
    
    
}
footer section p em{
    font-style: italic;
}